[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "0.18.3"
sqlalchemy = "1.4.41"
psycopg2 = "2.9.3"
python-dotenv = "*"
email-validator = "*"
fastapi-jwt-auth = "*"
passlib = "*"
fastapi-mail = "*"
jinja2 = "*"
alembic = "*"

[scripts]
test = "pytest"
format = "black main.py"
lint = "pylint main.py"
typeCheck = "mypy main.py"
formatCheck = "black --check main.py"

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"
